<!DOCTYPE html>
<html>
  <body>
    <h1><%= t('user.mailer.patient.title') %></h1>
    <p><%= t('user.mailer.patient.dear') %><%= @prescription.patient.full_name %>,</p>
    <p><%= t('user.mailer.patient.success_message') %></p>
    <p><%= t('user.mailer.patient.thank_you') %></p>
  </body>
</html>
